@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    height: 20rem;
    text-align: center;
    }

.info {
    margin-top: 2.6rem;
    margin-bottom: 1.5rem;
}


.heading {
    color: #15803D
    
}

.table {
    padding: 0.5rem;
    border-collapse: collapse;
    border: solid 2px;

}

.notes {
    border: solid 2px;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 30rem;
    border: double  
    #15803D;
    padding: 3rem;
    background-color: 
    #FAFAFA;
    
}


.no-of-notes {
    border: solid 2px;
    padding: 00.5rem;
    height: 1rem;
    

}
.rs {
    border: solid 2px;
    
}
#check-button {
    border-radius: 3rem;
    width: min-content;
    margin-left: 6rem;
    margin-top: 0.5rem;
    cursor:pointer;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    width: 5rem;
    padding: 0.3rem

    
}




